{
  "openapi": "3.1.0",
  "info": {
    "title": "InspectAgents API",
    "description": "API for AI agents to submit feedback, corrections, and incident reports to InspectAgents — the largest AI chatbot failure database.",
    "version": "1.0.0",
    "contact": {
      "email": "hello@inspectagents.com",
      "url": "https://inspectagents.com"
    }
  },
  "servers": [
    {
      "url": "https://inspectagents.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/agent-feedback": {
      "post": {
        "operationId": "submitAgentFeedback",
        "summary": "Submit feedback, correction, or incident report",
        "description": "AI agents can submit feedback, suggest corrections to existing entries, or report new AI chatbot incidents for inclusion in the database.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "message"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["feedback", "correction", "incident", "suggestion"],
                    "description": "Type of submission"
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 5000,
                    "description": "The feedback content or incident description"
                  },
                  "source": {
                    "type": "string",
                    "description": "Which AI agent is submitting (e.g., ChatGPT, Claude, Perplexity)"
                  },
                  "url": {
                    "type": "string",
                    "description": "Reference URL if applicable"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback received successfully"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      },
      "get": {
        "operationId": "getAgentFeedbackDocs",
        "summary": "Get API documentation for the feedback endpoint",
        "description": "Returns documentation and usage examples for the agent feedback API",
        "responses": {
          "200": {
            "description": "API documentation"
          }
        }
      }
    },
    "/api/mcp/": {
      "post": {
        "operationId": "mcpJsonRpc",
        "summary": "MCP Streamable HTTP endpoint (JSON-RPC 2.0)",
        "description": "Model Context Protocol server endpoint. IMPORTANT: Use trailing slash (/api/mcp/) and include Accept header 'application/json, text/event-stream'. Send JSON-RPC 2.0 messages to interact with InspectAgents tools: search_failures, get_failure, assess_risk, get_checklist, submit_feedback. Start with an 'initialize' request, then use 'tools/list' and 'tools/call'.",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": { "type": "string", "default": "application/json, text/event-stream" },
            "description": "REQUIRED. Must be 'application/json, text/event-stream'. Server returns 406 without this header."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"]
                  },
                  "id": {
                    "oneOf": [
                      { "type": "string" },
                      { "type": "number" }
                    ]
                  },
                  "method": {
                    "type": "string",
                    "description": "JSON-RPC method: initialize, tools/list, tools/call, resources/list, resources/read"
                  },
                  "params": {
                    "type": "object",
                    "description": "Method-specific parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response"
          },
          "406": {
            "description": "Not Acceptable — missing Accept header. Must include 'application/json, text/event-stream'"
          },
          "405": {
            "description": "Method Not Allowed — only POST is supported (GET and DELETE return 405)"
          }
        }
      }
    }
  }
}
